.script1{
	font-size: 15px;
}
.script1 ul {
    padding: 1; 
    margin: 0;
    list-style-type: none;
}
.script1 ul li {
    width: 450px;
    float: left;
}
.script1 label{
  width:80px;
}
.script1 textareaa{
	font-size:10pt;
}